@import "~@/styles/bulma.scss";
@import "~@/styles/common.scss";
@import "~@/styles/scroll.scss";
@import "~@/styles/icons.scss";
@import "~@/styles/layout.scss";
@import "~@/styles/listView.scss";
@import "~@/styles/modal.scss";
@import "~@/styles/task.scss";