.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fcfcfc;
  .layout-inner {
    display: flex;
    flex: 1;
  }
  .layout-body {
    display: flex;
    flex: 1;
  }
}

.menu {
  padding-top: 32px;
  width: 160px;
  background: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  .menu-list a {
    padding: 8px 20px;
    padding-right: 8px;
  }
  .svg-icon {
    margin-right: 5px;
    width: 1.3em;
    height: 1.3em;
    vertical-align: -0.25em;
  }
}

// page-header
.page-header {
  align-items: center;
  display: flex;
  padding: 0 12px;
  background: #fff;
}

.page-title {
  font-size: 1.5em;
  line-height: 1;
  margin: 15px 0;
}

.logo {
  line-height: 50px;
  display: inline-block;
}

.logo img {
  height: 25px;
  vertical-align: middle;
}

// page-nav
.bar {
  align-items: center;
  display: flex;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #FAFAFA;
  .bar-right {
    display: flex;
    font-size: 24px;
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}

.button-zone {
  width: 160px;
  display: flex;
  justify-content: center;
  .dropdown-trigger .button {
    width: 100px;
    position: relative;
  }
}

.nav {
  align-items: center;
  background: #FAFAFA;
  flex: 1;
  padding-right: 16px;
  font-size: 1.5em;
  overflow: hidden;
}

.task-tag.tag {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  margin-left: 8px;
  transform: translateY(-1px);
}