@media (max-width: 1200px) {
  .hide-2000 {
    display: none !important;
  }
}

.list-view {
  flex: 1;
  display: flex;
  background: #fafafa;
  .list-view-main {
    position: relative;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #FFF;
    outline: none;
  }
  .list-view-detail {
    width: 350px;
    background: #FFF;
    position: relative;
    -webkit-user-select: auto;
    .list-view-detail-header {
      background: #FAFAFA;
      padding-left: 10px;
      padding-right: 10px;
      .res-icon {
        margin-right: 0;
      }
      h4 {
        width: 275px;
        font-size: 16px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .separate-line-wrap {
      margin-right: -10px;
      margin-left: -10px;
      color: #eee;
    }
    .list-view-detail-close {
      cursor: pointer;
      opacity: .5;
      position: absolute;
      height: 14px;
      right: 14px;
      top: 8px;
      width: 14px;
    }
    .list-view-detail-content {
      padding: 10px;
      height: calc(100% - 40px);
      overflow: auto;
      .list-view-detail-content-item {
        margin-bottom: 5px;
        .list-view-detail-content-item-label {
          color: #666666;
          font-size: 12px;
        }
        .list-view-detail-content-item-value {
          font-size: 14px;
          color: #000;
          word-break: break-all;
          &.head-request-info {
            color: #4a4a4a;
            padding-left: 5px;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.separate-line {
  border-top: 1px solid #eee;
}

.list-operation {
  height: 40px;
  background-color: #FAFAFA;
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  // padding-left: 4px;
  .list-operation-item {
    color: #212121;
    min-width: 22px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    margin-right: 8px;
    &:hover:not(.disabled) {
      cursor: pointer;
      background-color: #EAEAEA;
    }
    &.disabled {
      color: #cacaca;
      opacity: .7;
      .svg-icon {
        color: #00e1b2;
      }
    }
    .svg-icon {
      margin-right: 3px;
      color: #00b89c;
    }
  }
}

.list {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.empty-list {
  display: flex;
  align-items: center;
  flex: 1;
  .empty-list-content {
    text-align: center;
    flex: 1;
    font-size: 22px;
  }
}

.files-list {
  cursor: default;
  -webkit-user-select: none;

  display: table;
  table-layout: fixed;
  padding-top: 25px;
  height: 100%;
  width: 100%;

  .files-list-header {
    background: #fff;
    position: absolute;
    color: #4c607a;
    font-size: 14px;
    display: flex;
    top: 40px;
    width: calc(100% - 16px);
    .column-file-name {
      flex: 1;
    }
    .file-info-item {
      line-height: 25px;
      padding-left: 6px;
      &:first-child {
        padding-left: 12px;
      }
      &:not(:last-child) {
        border-right: 1px solid #e5e5e5;
      }
    }
  }

  .files-list-body {
    color: #000;
    display: table-row-group;
  }

  .files-list-column {
    display: table-column-group;
  }

  .table-column {
    display: table-column;
  }

  .column-file-name {
    width: 100%;
  }
  .column-last-modified {
    width: 170px;
  }
  .column-file-type {
    width: 150px;
  }
  .column-file-size {
    width: 120px;
  }

  .files-list-item {
    display: table-row;
    outline: none;
    &:hover {
      background: #e5f3ff;
    }
    &.item-selected {
      background: #cce8ff;
      outline: 1px solid #99d1ff;
    }
  }

  .file-info-item {
    padding-left: 6px;
    padding-right: 10px;
    line-height: 30px;
    display: table-cell;
    &:first-child {
      padding-left: 12px;
    }
  }

  .mime,
  .last-modified,
  .size {
    color: #6d6d6d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .size {
    padding-right: 30px;
    text-align: right;
  }
}

.item-hover {
  background: #e5f3ff;
}


