.task-container {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  .tabs a {
    height: 40px;
  }
  .tabs .handle a {
    &:hover {
      // 和正常时一样
      border-bottom-color: #dbdbdb;
    }
  }
  .tabs:not(:last-child) {
    margin-bottom: 0;
  }
  .files-list {
    .column-file-name {
      width: 100%;
    }
    .column-file-size {
      width: 150px;
    }
    .column-file-status {
      width: 200px;
    }
    .column-file-handle {
      width: 150px;
    }
  }
  .files-list-item {
    height: 60px;
    .file-info-item {
      vertical-align: middle;
    }
  }
  .size.file-info-item {
    font-size: 12px;
    text-align: left;
    padding-right: 15px;
  }
  .status.file-info-item {
  }
  .handle.file-info-item {
  }
}
