.task-container {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  .tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tabs a {
    height: 40px;
  }
  .tabs .handle a {
    &:hover {
      // 和正常时一样
      border-bottom-color: #dbdbdb;
    }
  }
  .tabs:not(:last-child) {
    margin-bottom: 0;
  }
  .files-list {
    .column-file-name {
      width: 100%;
    }
    .column-file-size {
      width: 150px;
    }
    .column-file-status {
      width: 250px;
    }
    .column-file-handle {
      width: 150px;
    }
  }
  .files-list-item {
    height: 56px;
    .file-info-item {
      vertical-align: middle;
    }
  }
  .name.file-info-item {
    a {
      color: rgb(0, 0, 0);
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .size.file-info-item {
    font-size: 12px;
    text-align: left;
    padding-right: 15px;
  }
  .status.file-info-item {
    font-size: 12px;
    text-align: left;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 18px;
    .task-state {
      display: flex;
    }
    .task-state-time {
      margin-left: 16px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .handle.file-info-item {
    line-height: 18px;
  }
}

